.container
  /
    Masthead
    \==================================================
  %header#overview.jumbotron.subhead
    %h1 
    %p.lead 整理籃球教學影片
    .subnav.subnav-fixed
      %ul.nav.nav-pills
        %li
          %a{:href => "#global"} 跳躍力訓練
        %li
          %a{:href => "#gridSystem"} 喬丹籃球教學
        %li
          %a{:href => "#gridSystem2"} Nike Signature Moves

  %section#global
    .page-header
      %h1
        跳躍力訓練
        %small 很知名的跳躍力訓練方式
      %object{:style => "height: 390px; width: 640px"}
        %param{:name => "movie", :value => "http://www.youtube.com/v/5cHYSJUOPn0?version=3&feature=player_detailpage"}
          %param{:name => "allowFullScreen", :value => "true"}
            %param{:name => "allowScriptAccess", :value => "always"}
              %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/5cHYSJUOPn0?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/
  %section#gridSystem
    .page-header
      %h1
        喬丹籃球教學
        %small 籃球大帝教你打籃球！！
    第一部：進攻 (三威脅姿勢 , 過人)
    %br
    %object{:style => "height: 390px; width: 640px"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/t-nW3ViPnYc?version=3&feature=player_detailpage"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowScriptAccess", :value => "always"}
            %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/t-nW3ViPnYc?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/
    %br
    第二部：罰球
    %br
    %object{:style => "height: 390px; width: 640px"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/OuadhQZPsvo?version=3&feature=player_detailpage"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowScriptAccess", :value => "always"}
            %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/OuadhQZPsvo?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/
    %br
    第三部：後仰跳投
    %br  
    %object{:style => "height: 390px; width: 640px"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/X3dKEzkPBJQ?version=3&feature=player_detailpage"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowScriptAccess", :value => "always"}
            %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/X3dKEzkPBJQ?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/
    %br
    第四部：防守
    %br
    %object{:style => "height: 390px; width: 640px"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/DQ7F4_MiHm0?version=3&feature=player_detailpage"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowScriptAccess", :value => "always"}
            %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/DQ7F4_MiHm0?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/ 
    %br
    第五部：跑位
    %br
    %object{:style => "height: 390px; width: 640px"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/UmF7TktuL3g?version=3&feature=player_detailpage"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowScriptAccess", :value => "always"}
            %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/UmF7TktuL3g?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/
    %br
    第六部：防守的姿勢
    %br
    %object{:style => "height: 390px; width: 640px"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/d_E0Kqbq0ek?version=3&feature=player_detailpage"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowScriptAccess", :value => "always"}
            %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/d_E0Kqbq0ek?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/
  %section#gridSystem2
    .page-header
      %h1
        Nike Signature Moves
        %small Nike 拍了一系列很棒的教學教片
      =link_to "Nike Signature Moves", "http://www.youtube.com/playlist?list=PLE7ADFD5DE0FC8F2D", :onclick => "recordOutboundLink(this, 'Outbound Links', 'Nike');return false;"  