%ul 整理一些對我自己有用的教學影片 by - Steven Ko
%li= link_to "iPhone 遊戲的程式教學影片", learn_ios_path, :onclick => "recordOutboundLink(this, 'Outbound Links', '#{learn_ios_path}');return false;"
/ %li
/   %a{:href => "http://www.example.com", :onClick => "recordOutboundLink(this, 'Outbound Links', 'example.com');return false;"}test